<div class="phoneBanner">
    <!--Image-->
    <div class="cellphoneImgContainer">
        <img class="cellphoneImg" src="{{productImg}}" alt="cellphone">
        <!--Image Decoration-->
        <div class="bigCircle"></div>
        <div class="smallCircle"></div>
        <div class="smallCircleBorder"></div>
    </div>
    <!--Description-->
    <div class="phoneInformation">
        <h1 class="productName">{{productName}}</h1>
        <h4 class="productDescription">{{productDescription}}</h4>
    </div>
</div>
